<!DOCTYPE html>
<html lang="en">
<head>
 <title>
      N item Swap
      </title>
   </head>
<body>
<% include partials/header.ejs %> 

<% include partials/user-navigation.ejs %>

<% include partials/site-navigation.ejs %>

<div class="signInSection">
<a href="categories">Back</a>
</div>
      <ul class="navigation">
         <li><a href="index">Home</a></li>
         <li><a href="categories">categories</a></li>
         <li>item</li>
      </ul>
      <% if (valid === true) { %>
      <article class="articleClass">
         <h2><%= item.itemName %></h2>
         <section>
            <h3>one click away to swap and get item of your choice in replace !</h3>
            <form method="POST" action="/swap">
            <table class="sectionTable">
               <tr>
                  <th>Category --> <%= categoryNameItem.categoryName %></th>
               </tr>
               <tr>
                  <td>
                     <img src='<%= item.imageUrl %>' alt="sportitem1" height="300" width="300"><br><b>Description</b><br>
                     <table class="nestedTable">
                        <tr>
                           <td><%= item.description %></td>
                        </tr>
                     </table>
                     <br>
                     
                     <button input=submit name="swapit" value='<%= item.itemId %>'>swap it</button>
                     <%= notAvailable %>
                     <br>
                     <a href="myItems" class="button swapButton">Rate it</a>
                  </td>
               </tr>
            </table>
         </form>
         </section>
      </article>
      <% } else {%>
      <article class="articleClass">
         <section>
            <h3>No valid itemCode provided !</h3>
         </section>
      </article>
      <% } %>
     <% include partials/footer.ejs %>
   </body>
</html>